body{
    background-size: cover ;
}

.heading{
    width: 100%;
    margin: 0px;
    font-size: 23px;
}

#start, #status, #num_of_objects{
    font-size: 18px;
}

.copy_right_footer{
    position: fixed;
    color: rgb(65, 65, 65);
    width: 100%;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.42);
    line-height: 3;
    text-align: center;
}

canvas{
    box-shadow: 5px 5px 5px  rgba(255, 255, 255, 0.598);
    border: 2px solid  rgba(255, 255, 255, 0.42);
    margin-top: 130px;
    border-radius: 10%;
}